.registration {
 display: flex;
 justify-content: center;
}

.registration-new {
  font-size: 20px;
}
 

.field {
  font-size: 30px;
}



.user-profile {
  font-size: 15px;
}

.actions {
  font-size: 40px;
}

.register-btn {
  width:90px;
  height:40px;
  font-size: 15px;
  border-radius: 1px;
}