<div class='camppost-users'>

   <div class="user-indexpage-explain">
     ユーザー一覧
   </div>

   <div class="user-indexpage-explain-sub">
     現在登録されているユーザー一覧です
   </div>

   <div class="user-indexpage-explain-sub">
     クリックするとユーザーのマイページへアクセスできます
   </div>

 <ul class='user-lists'>
   <% @users.each do |user| %>
   
   <div class='user-img'>
    
     <% if user.image.attached? %>
    
      <div class='user-img-content'>
       <%= image_tag user.image.variant(resize: '200x200'), class: 'user-image' %>
      </div>  
     
      <% else %>
     
     
      <div class="user-img-content">
       <%= image_tag "no-image.png", class: 'user-image' %>
      </div>
  
     <% end %>  
    
    
      <div class="usersname-box">
        <%= link_to user.username, user_path(user), class: 'usersname' %> 
      </div>
 
 
    </div> 
   
   <% end %>
 </ul> 


</div>