<div class='camppost-users'>

<div class="user-indexpage-explain">
  ユーザー一覧
</div>

<div class="user-indexpage-explain-sub">
  現在登録されているユーザー一覧です
</div>

<div class="user-indexpage-explain-sub">
  クリックするとユーザーのマイページへアクセスできます
</div>

 <ul class='user-lists'>
   <% @users.each do |user| %>
      <div class="users">
       <%= image_tag "no-image.png", class:"user-image"  %>
       <div class="usersname">
        <%= link_to user.username, user_path(user) %> 
       </div>
      </div>
   
   <% end %>
 </ul> 


</div>