<div class="shared-footer">
 <div class="users-box">
  <%= link_to "ユーザー一覧へ", users_path, class: "button is_warning is-light" %>
 </div>
 <div class="campposts-box">
  <%= link_to "記事一覧へ", campposts_path, class: "button is_warning is-light" %>
 </div>
</div>
