  <div class='title-contents'>
  
  
    <h2 class='service-title'>
      campinfo
    </h2>
  
     <p class='service-subtitle'>
      ~全国のキャンプ場情報を共有サービス~
    </p>





<%= image_tag("home-image.png") %>
    <div class='ad-contents'>
        <h2 class='service-explain'>
           日本全国のキャンプ場投稿サイト
        </h2>
        <h2 class='service-explain'>
           たくさんの仲間と情報をシェアしませんか？
        </h2>
        <h2 class='service-explain'>
           あなたのおすすめの場所を教えて下さい！
        </h2>
        <h2 class='service-explain'>
           キャンプ場情報共有サービスに登録し、情報をシェアしましょう!
        </h2>
    </div>



  </div>