
<%#= form_with model: @camppost, url:camppost_chats_path(@camppost) , method: :post,id: "form",local: false do |form| %>
<%= form_with( model: [@camppost, @chat], url: camppost_chats_path(@camppost), method: :get ) do |form| %>


<div id="list">
</div>

<% chats.each do |chat| %>
  <div class="chat-box">
   <div class="chat-post-user">
        <%= chat.user.username %>
   </div>
   <div class="chat-content">
        <%= chat.message %>
   </div>
       <div class="chat-date">
        投稿日時：<%= chat.created_at %>
   </div>
  </div>
<% end %> 

<% end %>