


<div class='camppost-contents'>

<div class='post-top'>
 <div class="post-top-box">
  <div class='page-title'>
     投稿一覧
  </div>

<div class="page-comment-introduction">
   <div class='page-comment1'>
   ユーザーの皆さんの投稿です!
   </div>
   <div class='page-comment2'>
   気になるキャンプ場をチェックしてみましょう!
   </div>
</div> 
</div>
</div>

 <ul class='camppost-lists'>
  <% @campposts.each do |camppost| %>
  <div class="campposts-box">
   <div class='camppost-img-content'>
     <%= image_tag camppost.image.variant(resize: '320x350'), class: 'camppost-image' if camppost.image.attached? %>
   </div>  

      <div class='camppost-info'>
        <span>都道府県名:<%= camppost.prefecture.name %></span>  
      </div>

      <div class='camppost-info'>
        <span>キャンプ場名:<%= camppost.name %></span>
      </div>
 
      <div class='link'>
        <%= link_to"記事詳細へ", camppost_path(camppost) %>
      </div>
 
   </div>

  <% end %>
 </ul> 



</div>