.collection_select {
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 230px;
    margin: 0;
    border: 0;
    outline: none;
    padding: 5px;
    background: transparent;
}
