.camppost-users {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-bottom: 40vh 
}

.user-image-unexist {
  margin: 0px;
}



.user-img {
  width: 20%;

}


.usersname-box {
  display: flex;
  justify-content: center;
  align-items: center;

}




.usersname {
  margin-bottom: 2vh;
  font-size: 20px;
}

.user-lists {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.user-indexpage-explain {
  font-size: 50px;
  margin: 5vh
}

.user-indexpage-explain-sub {
  font-size: 20px;
  margin-bottom: 10vh
}