.camppost-users {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-bottom: 40vh 
}

.user-image {
  margin: 20px;
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;

}

.usersname {
  margin-bottom: 2vh;
  margin-right: 8vw;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

}

.user-lists {
  display: flex;
  justify-content: center
}


.user-indexpage-explain {
  font-size: 50px;
  margin: 5vh
}

.user-indexpage-explain-sub {
  font-size: 20px;
  margin-bottom: 10vh
}